<tr style="border-top: 1px solid #CCCCCC;">
    <td colspan="99">
        <div class="d-flex justify-content-center" style="margin: 1em;">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

    </td>
</tr>